body {
  background: url('sitebackground.jpg');
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.button-book{
	width: 160px;
	height: 44px;
	background: #f2795a;
	border-radius: 5px;
	margin: 35px 20px;
	color: #ffffff;
	text-align: center;
	color: #ffffff;
	font-size: 1.0em;
	font-family: arial black, sans-serif;
	border: 0;
	z-index: 1;
}
input[type="button"] {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/250px-Telegram_2019_Logo.svg.png) no-repeat left 51%;
}
